<div class="results-block">
  <%= bootstrap_flash %>
</div>

<% if @stock %>
  <div class="well results-block">
    <strong>Symbol: </strong><%= @stock.ticker %>
    <strong>Name: </strong><%= @stock.name %>
    <strong>Price: </strong><%= @stock.last_price %>
    <strong>Date: </strong><%= @stock.last_time %>
  </div>
<% end %>